$main-colour: #1fde82;
$section-datas-bgc: #2570ff;
$none-btn-a-font-colour: #767d8d;
$btn-black: #3b3d42;
    
%upper-case{ text-transform: uppercase; }

@mixin Button($bgc, $bdc, $colour){
    background-color: $bgc;
    border: 1px solid $bdc;
    color: $colour;
    transition: .5s;
}
@mixin BorderBoxedPaddings($p1, $p2: null, $p3: null, $p4: null){
    box-sizing: border-box;
    padding: $p1 $p2 $p3 $p4;
}

:root{ 
    font-family: "Roboto", Sans-serif, "Times New Roman"; 

    .mute{ color: #aaa; }
    
    img{ vertical-align: middle; max-width: 100%;}
    
    section{ padding: 60px 0; }

    h2{ line-height: 1.3; }

    .read-more{ @extend %upper-case; } 

    .view-site{ @extend %upper-case; }
    
    .highlight{ color: $main-colour; }

    .hidden{ display: none; }
    
    a{
        text-decoration: none;
        color: $none-btn-a-font-colour;
        vertical-align: middle;
    
        &[class^="btn-"]{
            @extend %upper-case;
            display: inline-block;
            text-transform: uppercase;
            padding: 10px 20px;
            border-radius: 5px;
            height: fit-content;
            &.btn-green{
                @include Button($main-colour, $main-colour, #fff);
                box-shadow: 0 0 15px $main-colour;
                &:hover{
                    @include Button($btn-black, $btn-black, #fff);
                    box-shadow: none;
                }
            }
            &.btn-transparent{
                @include Button(transparent, $none-btn-a-font-colour, $btn-black);
                &:hover{
                    @include Button($main-colour, $main-colour, #fff);
                }
            }
        }
    }
}

header{
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #fff;
    .wrap{
        @include BorderBoxedPaddings(10px);
        display: flex;
        height: 100%;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        justify-content: space-between;
        .main-nav{
            display: flex;
            height: auto;
            align-items: center;
            ul{
                li{
                    display: inline-block;
                }
            }
        }
        .logo{
            margin: 8px 0;
        }
    }
}

article{
    %card{
        @include BorderBoxedPaddings(40px, 35px);
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    section .wrap{
        @extend %max-width;
    }
    .kv{
        @extend %max-width;
        @include BorderBoxedPaddings(40px, 0, 80px, 15px);
        margin-top: 90px;
        display: flex;
        .main-slogan .text{
            height: 100%;
            .btns{
                margin: 40px 0;
            }
        }
    }
    section.graphic{
        .wrap{
            display: flex;
        }
    }
    .contact{
        .wrap{
            h2{
                margin-bottom: 40px;
                padding-left: 20px;
            }
            .card-row{
                padding: 20px 0;
                .card{
                    @extend %card;
                    h3{
                        font-size: 22px;
                        margin-bottom: 20px;
                    }
                    p{
                        line-height: 2;
                        color: #aaa;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .data{
        background-color: $section-datas-bgc;
        color: #fff;
        .wrap{
            .statistics .item-row{
                height: 50%;
                .item{
                    border-radius: 10px;
                    background-color: #3f81ff;
                    strong{
                        display: block;
                    }
                }
            }
            .text{
                a.btn-transparent{
                    @include Button(transparent, #fff, #fff);
                    margin-right: auto;
                    &:hover{
                        @include Button($main-colour, $main-colour, #fff);
                    }
                }
            } 
        }
    }

    .steps .wrap  .step{
        .step{
            margin: 40px 0;
            .order img{
                border-radius: 50%;
                box-shadow: 0 0 20px $main-colour;
            }
            .step-text{
                @include BorderBoxedPaddings(15px);
                h3{
                    font-size: 22px;
                    margin-bottom: 15px;
                }
                p{
                    line-height: 2;
                }
            }
        }
    }

    .section-projects .wrap{
        .title{
            margin: 0 20px 40px;
            h2{
                max-width: 500px;
            }
        }
        .cards{
            .card{
                position: relative;
                .card-text{
                    @include BorderBoxedPaddings(15px);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    border-radius: 10px;
                    color: #fff;
                    background-color: $main-colour;
                    z-index: -1;
                    opacity: 0;
                    display: flex;
                    flex-direction: column;
                    transition: .4s;
                    p{
                        font-size: 42px;
                        line-height: 1.3;
                        flex-grow: 1;
                        padding-top: 70px;
                    }
                    a{
                        display: block;
                        height: 30%;
                        color: #fff;
                    }
                }
            }
        }
    }
    .section-consultation .wrap{
        .sign-up{
            @extend %card;
            width: 100%;
            .inputs > :not(.btn-green){
                @include BorderBoxedPaddings(10px, 15px);
                border-radius: 5px;
                border: 1px solid #aaa;
                display: block;
                width: 100%; 
                margin-bottom: 15px;
            }
        }
    }
    .section-learn-more{
        background-color: #f4f4f4;
        .wrap{
            max-width: 576px;
            margin: auto;
            h2{
                text-align: center;
                padding: 40px 0;
            }
            .inputs{
                display: flex;
                input{
                    @include BorderBoxedPaddings(10px, 15px);
                    border-radius: 5px 0 0 5px;
                    border: none;
                    display: block;
                    flex-grow: 1;
                }
            }
        }
    }
}

footer{
    .main-footer{
        @extend %max-width;
        .main-footer-item{
            @include BorderBoxedPaddings(15px);
            h2{
                padding: 15px 0;
            }
            li{
                padding: 10px 0;
            }
            h3{
                font-size: 22px;
                padding: 35px 0;
            }
            address a{
                display: block;
                padding: 10px 0;
            }
            p{
                line-height: 2;
                color: #aaa;
                padding-bottom: 25px;
            }
            .icons{
                display: flex;
                .icon{
                    width: 40px;
                    height: 40px;
                    box-sizing: border-box;
                    border-radius: 50%;
                    border: 1px solid #aaa;
                    background-color: transparent;
                    color: #aaa;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                }
            }
        }
    }
    .sub-footer{
        @extend %max-width;
        @include BorderBoxedPaddings(15px);
        font-size: 12px;
        color: #aaa;
        a{
            padding-left: 20px;
        }
    }
}

.to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    a{
        color: $main-colour;
    }
}

@media screen and (width < 768px) {
    
    h2{ 
        font-size: 28px; line-height: 1.3; 
    }
    
    header .main-nav{
        .HB{
            @include BorderBoxedPaddings(5px);
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            background-color: $main-colour;
            justify-content: space-evenly;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            transition: .3s;
            span{
                width: 100%;
                height: 3px;
                background-color: #fff;
                opacity: 1;
                transition: .3s;
            }
        }
        #hamburger:checked ~ ul{
            right: 0;
        }
        #close-list:checked ~ ul{
            right: -100%;
        }
            
        .btn-transparent{
            display: none;
        }
        ul{
            position: absolute;
            width: 75%;
            height: 100vh;
            background-color: #fff;
            color: #000;
            right: -100%;
            top: 0;
            box-shadow: -1px 0 5px #ccc;
            transition: .3s;
            li{
                width: 100%;
                display: block;
                padding: 5px 10px;
            }
            .xmark{
                display: block;
                font-size: 24px;
                padding: 5px;
                margin-right: 10px;
                text-align: right;
                cursor: pointer;
                &:active{
                    right: -100%;
                }
            }
        }
    }

    .article-container{
        %pattern-sm-xltext-xstext-btn{
            & > :first-child{
                margin-bottom: 30px;
            }
            & > :nth-child(2){
                font-size: 14px;
                line-height: 2;
                margin-bottom: 30px;
            }
            & > :last-child a{
                margin-right: 15%;
            }

        }
        h2{
            font-size: 28px;
        }
        .section-kv{
            flex-direction: column;
            .text{
                @extend %pattern-sm-xltext-xstext-btn;
                p:first-of-type{
                    font-size: 34px;
                }
                .btns{
                    display: flex;
                    justify-content: space-between;
                    img{
                        transform: scale(150%) translateX(-25%);
                    }
                }
            }
        }

        .section-provide .card{
            margin: 15px;
            .icon, .card-text{
                margin-bottom: 20px;
            }
        }
        section.graphic{
            .wrap:nth-child(odd){
                flex-direction: column-reverse;
            }
            .wrap:nth-child(even){
                flex-direction: column;
            }
            .text{
                @extend %pattern-sm-xltext-xstext-btn;
                margin: 30px 15px;
            }
            .img{
                width: 100%;
                @include BorderBoxedPaddings(0, 0, 0, 15px);
            }
        }
        .section-datas .wrap{
            @include BorderBoxedPaddings(15px, 20px);
            .statistics .item{
                @include BorderBoxedPaddings(30px, 15px);
                text-align: center;
                margin-bottom: 30px;
                p strong{
                    font-size: 34px;
                }
            }
            .describe .text{
                @extend %pattern-sm-xltext-xstext-btn;
            }
        }
        .section-steps{
            h2, .order, .pic{
                padding-left: 15px;
            }
        }
        .section-projects{
            .title h2{
                margin: 20px 0;
            }
            .cards .card{
                @include BorderBoxedPaddings(15px);
                display: block;
                width: calc(100% - 30px);
                height: calc(50vh - 30px);
                margin: 15px;
                background-size: cover;
                border-radius: 10px;
                & > img{
                    display: none;
                }
                &:first-child{
                    background-image: url('./imgsMaikon/project-1.jpg');
                }
                &:nth-child(2){
                    background-image: url('./imgsMaikon/project-2.jpg');
                }
                &:last-child{
                    background-image: url('./imgsMaikon/project-3.jpg');
                }
                &:active .card-text{
                    z-index: 1;
                    opacity: 1;
                }
            }
        }
        .section-consultation h2{
            margin-bottom: 30px;
        }
    }

    footer .sub-footer > *{
        text-align: center;
    }
}


@media screen and (width >= 768px) {
    %max-width{
        max-width: 1200px;
        margin: auto;
    }
    %pattern-md-xltext-xstext-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        > :first-child{
            margin-bottom: 20px;
            max-width: 500px;
        }
        > :nth-child(2){
            max-width: 400px;
        }
        > :last-child{
            margin: 40px 0;
            a{
                margin-right: 15px;
            }
        }
    }
    h2{ 
        font-size: 34px; 
    }
    
    header .main-nav ul{
        width: 435px;
        li{
            margin-right: 10px;
        }
        .xmark{
            display: none;
        }
    }
    .article-container{
        .section-kv{
            margin-top: 90px;
            .main-slogan{
                width: 50%;
                .text{
                    @extend %pattern-md-xltext-xstext-btn;
                    p:first-of-type{
                        font-size: 42px;
                    }
                }
            }
            .main-img{
                width: 50%;
            }
        }
        .section-provide .wrap{
            h2{
                max-width: 480px;
            }
            .card-row{
                display: flex;
                justify-content: space-evenly;
                height: 400px;
                .card{
                    width: 30%;
                }
            }
        }

        .section-about .wrap{
            flex-direction: row-reverse;
        }
        .section-contact .wrap .text{
            margin: 0 15px;
        }
        section.graphic{
            .wrap{
                .text{
                    @extend %pattern-md-xltext-xstext-btn;
                    width: 45%;
                }
                .img{
                    width: 55%;
                }
                .wrap:nth-child(odd){
                    flex-direction: row-reverse;
                }
                .wrap:nth-child(even){
                    flex-direction: row;
                }
            }
        }
        .section-datas .wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .statistics{
                width: 48%;
                .item-row{
                    @include BorderBoxedPaddings(10px, 0);
                    display: flex;
                    justify-content: space-evenly;
                    .item{
                        @include BorderBoxedPaddings(40px, 30px);
                        width: 45%;
                        strong{
                            font-size: 34px;
                        }
                    }
                }
            }
            .describe{
                width: 48%;
                .text{
                    @extend %pattern-md-xltext-xstext-btn;
                }
            }
        }

        .section-steps{
            .title h2{
                margin-left: 15px;
            }
            .steps .step{
                display: flex;
                align-items: center;
                justify-content: center;
                .order{
                    width: 180px;
                    text-align: right;
                }
                .step-text{
                    width: 35%;
                }
                &:nth-child(odd) .pic{
                    order: -1;
                    text-align: right;
                }
            }
        }
        .section-projects .wrap{
            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .cards{
                display: flex;
                justify-content: space-around;
                .card{
                    @include BorderBoxedPaddings(15px);
                    &:hover .card-text{
                        z-index: 1;
                        opacity: 1;
                    }
                    & > img{
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                } 
            }
        }
        .section-consultation .wrap{
            display: flex;
            .pic{
                width: 60%;
                text-align: center;
            }
            .sign-up{
                width: 40%;
            }
        }
    }
    footer{
        .main-footer{
            display: flex;
            flex-wrap: wrap;
            .main-footer-item{
                width: 50%;
            }
        }
        .sub-footer > *{
            @include BorderBoxedPaddings(10px);
            text-align: center;
        }
    }
}

@media screen and (width >= 1024px){
    h2{ 
        font-size: 42px; 
    }
    header .main-nav ul{
        width: 480px;
        li{
            margin-right: 20px;
        }
    }
    .article-container{
        .section-kv .main-slogan .text p:first-child:not(.mute){
            font-size: 58px;
        }
        .section-datas strong{
            font-size: 58px;
        }
        .section-steps .step{
            position: relative;
            .pic{
                flex-grow: 1;
            }
            &:nth-child(odd) .step-text{
                margin-right: 15%;
            }
            &:nth-child(even) .order{
                margin-left: 15%;
            }
            &:not(:last-child)::after{
                position: absolute;
                bottom: 0;
                transform: translateY(50%);
            }
            &:nth-child(1)::after{
                content: url('./imgsMaikon/arrow-1.svg');
                right: calc(250px + 35%);
            }
            &:nth-child(2)::after{
                content: url('./imgsMaikon/arrow-2.svg');
                right: calc(220px + 35%);
            }
            &:nth-child(3)::after{
                content: url('./imgsMaikon/arrow-3.svg');
                right: calc(220px + 35%);
                bottom: -20px;
            }
            &:nth-child(4)::after{
                content: url('./imgsMaikon/arrow-4.svg');
                right: calc(200px + 35%);
            }
        }
    }
    footer{
        .main-footer .main-footer-item{
            width: 25%;
        }
        .sub-footer{
            display: flex;
            justify-content: space-between;
        }
    }
}



// @mixin BorderBoxedPaddings($p1, $p2: null, $p3: null, $p4: null, $switch: false){
//     @if $switch == true {
//         box-sizing: border-box;
//         padding: $p1 $p2 $p3 $p4;
//     } @else {@if $p4 != null {
//             @include BorderBoxedPaddings($p1, $p2, $p3, $p4, true);
//         } @else {@if $p3 != null {
//                 @include BorderBoxedPaddings($p1, $p2, $p3, $p2, true);
//             } @else {@if $p2 != null {
//                     @include BorderBoxedPaddings($p1, $p2, $p1, $p2, true);
//                 } @else {
//                     @include BorderBoxedPaddings($p1, $p1, $p1, $p1, true);
//                 }
//             }
//         }
//     }
// }
