.topbar {
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

h1 span{
    color:#888;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    border: 2px solid rgb(84, 84, 250);
    padding: -2px;
}

.btn-outline-primary {
    color: #000;
    border-color: gray;
}

.btn-outline-primary:hover {
    color: #000;
    border-color: gray;
    background-color: #fff;
}

.selfbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 0px solid #fff;
    background-color: #fff;
    border-radius: 50% 50%;
    margin: 0 2px;
}

.selfbtn img {
    padding: 5px;
}



.kv-box {
    margin-top: 50px;
}



@media screen and (min-width:768px) {
    .kv-box {
        position: relative;
    }

    .kv {
        position: fixed;
        width: 55%;
        height: 50vh;
        top: 20%;
    }
}


@media screen and (min-width:1280px) {

    .kv {
        width: 50%;

    }
}