* {
	font-family: Roboto, Sans-serif;
}

#menu-control {
	display: none;
}

:root {
	--gray: #5d6678;
	--txtgray: #1d273b;
	--green: #1fde82;
	--blue: #2570ff;
	--bluetxt: #f2f5fc;
}



/*-------------- header--------------- */
h1 {
	display: none;
}

.container {
	max-width: 1200px;
	margin: auto;
	/* padding-left: 10px;
	padding-right: 10px; */
}

a {
	text-decoration: none;
}

header {
	padding: 8px 10px 8px 10px;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.container-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.HB {
	width: 40px;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--green);
}

.HB span {
	width: 60%;
	height: 3px;
	background-color: #fff;
}

.container-nav .HB span {
	transition: 1s;
}

#menu-control:checked~.navbar {
	right: 0;
	opacity: 1;
	transition: 0.3s;
}

#menu-control:checked~.HB span:first-child {
	display: none;
}

#menu-control:checked~.HB span:nth-child(2) {
	transform: rotate(45deg) translate(5px, 5px);
	transition: .5s ease-out;
}

#menu-control:checked~.HB span:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -5px);
	transition: .5s ease-out;
}

.navbar {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: #fff;
	width: 80%;
	top: 60px;
	right: -100%;
	height: 100vh;
	opacity: 1;
}


nav a {
	font-family: Roboto, Sans-serif;
	font-size: 16px;

}

.logo a {
	padding: 0px;
}

.navbar a {
	color: #5d6678;
}

.btn-nav {

	color: #5d6678;
}

.navbar a {
	padding: 8px;
}

.navbar .btn-subscribe {
	opacity: 0;
}


/*-------------- kv--------------- */
.container-kv {
	padding: 30px;
	margin-top: 40px;
}

.container-kv .row {
	display: flex;
	align-items: center;
}
.pic-kv img{
	max-width: 100%;
}
.text-kv h2 {
	font-size: 30px;
	color: var(--txtgray);
	font-weight: 300;
	line-height: 1.315em;
	padding-bottom: 10px;
}

.text-kv p { 
	font-size: 14px;
	margin-bottom: 8px;
	margin: 0 0 1em;
	line-height: 1.5em;
	color: var(--gray);
}

.btn-kv {
	box-sizing: border-box;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.btn-learnmore {
	min-width: 142px;
	padding: 12px 19.5px 10px 19.5px;
	margin-right: 30px;
	border: none;
	background-color: var(--green);
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	box-shadow: 0px 8px 32px 0px rgb(31 222 130 / 46%);
}

.btn-learnmore:hover {
	background-color: #767d8d;
	transition: .5s;
	box-shadow: none;
}

.btn-play {

	padding: 12px 19.5px 10px 19.5px;
	background-color: #fff;
	border: none;

}

.btn-play img {
	display: block;
	width: 100%;
	transform: scale(150%) translateX(-5%);
}

.pic-kv {
	margin-right: 0;
}

.pic-kv img {
	max-width: 100%;
	vertical-align: middle;

}

.container-kv:nth-child(2n) .row {
	flex-direction: row-reverse;
}

.container-kv:nth-child(2n) .row h2 {
	font-size: 30px;
	line-height: 1.31em;
}

.container-kv:nth-child(2n) .row img {
	width: 100%;
}

.container-kv .btn-aboutus {
	padding: 12px 19.5px 10px 19.5px;
	border: none;
	background-color: var(--green);
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	box-shadow: 0px 8px 32px 0px rgb(31 222 130 / 46%);

}

.btn-aboutus:hover {
	background-color: #767d8d;
	transition: .5s;
	box-shadow: none;
}

.container-kv .btn-contactus {
	padding: 12px 19.5px 10px 19.5px;
	border: .3px solid #dcdfe5;
	font-size: 14px;
	border-radius: 3px;
	margin-left: 30px;
	background-color: #fff;

}

.btn-contactus:hover {
	background-color: var(--green);
	color: #fff;
	transition: .3s;
	border: .5px solid var(--green);
}

/*-------------- iconbox --------------- */

.container-iconbox h2 {
	color: var(--txtgray);
	max-width: 475px;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.31em;
	letter-spacing: 0.84px;
	margin-bottom: 20px;
}
/* 縮放時iconbox不等高 */
.iconbox {
	box-sizing: border-box;
	padding: 48px 40px 42px 42px;
	margin:15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0px 4px 44px 0px rgb(17 29 48 / 6%);
	border-radius: 10px;
	background-color: #fff;
	/* flex-grow: 1; */
}

.iconbox .pic {
	width: 70px;
	display: inline-block;
	border-radius: 50%;
	box-shadow: 0px 8px 32px 0px rgb(31 222 130 / 46%);
	margin-bottom: 20px;
}

.iconbox img {
	width: 100%;
	vertical-align: middle;
	display: inline-block;
}

.iconbox h3 {
	color: var(--txtgray);
	font-size: 30px;
	line-height: 1.32em;
	letter-spacing: 0.44px;
	display: inline-block;
	margin: 10px 0;
}

.iconbox p {
	color: var(--txtgray);
	font-size: 12px;
	font-weight: 300;
	line-height: 1.79em;
	letter-spacing: 0.28px;
	display: inline-block;
	padding-bottom: 20px;
}

.iconbox a {
	color: var(--txtgray);
	display: inline-block;
}

.iconbox a:hover {
	color: var(--green);
	transition: .3s;

}

/*-------------- contactus --------------- */
.container-contactus .row {
	display: flex;
	align-items: center;

}

.container-contactus .text-contactus {
	margin-bottom: 30px;
}

.container-contactus .text-contactus h2 {
	width: 100%;
	font-size: 30px;
	color: var(--txtgray);
	font-weight: 300;
	line-height: 1.315em;
	margin: 93px 80px 22px 0px;
}

.container-contactus .text-contactus p {
	width: 68%;
	color: var(--gray);
	font-size: 14px;
	margin-bottom: 8px;
	margin: 0 0 40px;
	line-height: 1.5em;
}

.btn-contactandsub {
	display: flex;
	justify-content: space-between;
}

.btn-contact {
	padding: 12px 19.5px 10px 19.5px;
	border: none;
	background-color: var(--green);
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	box-shadow: 0px 8px 32px 0px rgb(31 222 130 / 46%);

}

.btn-contact:hover {
	background-color: #767d8d;
	transition: .5s;
	box-shadow: none;
}

.container-contactus .btn-subscribe {
	color: var(--txtgray);
	padding: 12px 19.5px 10px 19.5px;
	border: .3px solid #dcdfe5;
	font-size: 14px;
	border-radius: 3px;
	margin-left: 30px;
	background-color: #fff;


}

.container-contactus .btn-subscribe:hover {
	background-color: var(--green);
	color: #fff;
	transition: .5s;
	border: .5px solid var(--green);
}

.pic-contactus img {
	width: 100%;

}


/*-------------- whychoose --------------- */


.whychoose {
	background-color: var(--blue);
	box-sizing: border-box;
	padding: 70px 0;
	margin: 100px 0;
}

.container-whychoose {
	color: var(--bluetxt);
}

.container-whychoose .bluebox {
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, .1);
	margin: 15px;
	padding: 39px 34px;
	border-radius: 10px;
	/* display: flex; */
	text-align: center;
	flex-shrink: 1;
}

.container-whychoose p {

	font-size: 14px;
	line-height: 1.5;
}

.container-whychoose span {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.3em;
	display: block;
}

.container-whychoose .row {
	display: flex;
	justify-content: flex-start;
}

.container-whychoose .text-whychoose h2 {
	width: 70%;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.315em;
	font-size: 42px;
	letter-spacing: 0.84px;
}

.text-whychoose p {
	width: 65%;
	font-size: 14px;
	margin-bottom: 8px;
	margin: 0 0 1em;
	line-height: 1.5em;
}

.btn-ordersevice {
	display: inline-block;
	padding: 12px 19.5px 10px 19.5px;
	border: .3px solid var(--bluetxt);
	font-size: 14px;
	border-radius: 3px;
	margin-top: 30px;
	color: var(--bluetxt);
}

.btn-ordersevice:hover {
	background-color: var(--green);
	color: #fff;
	transition: .5s;
	border: .5px solid var(--green);
}

/*-------------- teamwork --------------- */
.container-teamwork {
	max-width: 100%;
	margin-bottom: 40px;
	box-sizing: border-box;
}

.container-teamwork h2 {
	color: var(--txtgray);
	font-size: 28px;
	font-weight: 300;
	line-height: 1.315em;
	letter-spacing: 0.84px;
	margin-bottom: 80px;
	display: block;
}

.container-teamwork .row {
	display: flex;
	align-items: center;
	/* flex-grow: 1; */

}

.container-teamwork .img {
	vertical-align: middle;

}

.text-teamwork h3 {
	color: var(--txtgray);
	font-size: 22px;
	font-weight: 400;
	line-height: 1.32em;
}

.text-teamwork p {
	color: var(--gray);
	font-size: 14px;
	font-weight: 300;
	line-height: 1.79em;
	letter-spacing: 0.28px;

}

.pic-teamwork {
	text-align: left;

}

.num {

	text-align: left;
	margin-bottom: 20px;
}

.num img {
	width: 70px;
	border-radius: 50%;
	box-shadow: 0px 8px 32px 0px rgb(31 222 130 / 46%);
}

#arr1,
#arr2,
#arr3,
#arr4 {
	display: none;
}

.num {
	order: -1;

}
.pic-teamwork{
	
}

.teamwork .container-teamwork h3 {
	width: 100%;
	font-size: 20px;
}

.teamwork .container-teamwork p {
	font-size: 12px;
}

/*-------------- project --------------- */
.project {
	padding: 30px 0px;
	background-color: #f9fbff;
}

.col-btn-allproject {
	text-align: left;
}

.title-project {
	margin: 30px 0;
	display: flex;
	align-items: center;
}

.container-project h2 {

	color: var(--txtgray);
	font-size: 28px;
	font-weight: 300;
	line-height: 1.31em;
	letter-spacing: 0.84px;
	display: block;
	margin-bottom: 30px;
}

.btn-allproject {
	min-width: 142px;
	padding: 12px 19.5px 10px 19.5px;
	border: none;
	background-color: var(--green);
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	box-shadow: 0px 8px 32px 0px rgb(31 222 130 / 46%);
}

.btn-allproject:hover {
	background-color: #767d8d;
	transition: .5s;
	box-shadow: none;
}



.pic-project {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 30px;
}

.pic-project img {
	vertical-align: middle;
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	height: 40vh;
	object-fit: cover;
}

.text-project {
	width: 100%;
	height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	background-color: rgba(31, 222, 130, 0.98);
	padding: 40px 20px 40px 28px;
	border-radius: 10px;
	opacity: 0;
	transition: opacity .4s ease;
}

.pic-project:hover .text-project {
	opacity: 1;
}

.text-project h3 {
	width: 100%;
	font-size: 30px;

	color: #fff;
}

.text-project a {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 20px;
}

/*-------------- form --------------- */
.form {
	padding: 30px 0px;
}

.pic-form {
	box-sizing: border-box;


	text-align: center;
	display: inline-block;
}

.pic-form img {
	max-width: 100%;
}

.form-signup {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	box-shadow: 0px 4px 44px 0px rgb(17 29 48 / 6%);
	margin: 25px 0px 44px 0px;
	padding: 30px;
	border-radius: 10px;

}

.form-signup h2 {
	color: var(--txtgray);
	font-size: 30px;
	font-weight: 300;
	line-height: 1.31em;
	letter-spacing: 0.84px;
	display: block;
	margin-bottom: 35px;

}

.form-signup input {
	box-sizing: border-box;
	width: 100%;
	font-size: 14px;
	font-weight: 300;
	line-height: 1em;
	letter-spacing: 0px;
	padding: 10px;
	margin: 0px 0px 18px 0px;
	border-radius: 4px;
	color: var(--gray);
	border-style: solid;
	border-width: 1px;
	border-color: #dcdfe5;
}

textarea {
	box-sizing: border-box;
	width: 100%;
	resize: vertical;
	padding: 10px;
	color: #dcdfe5;
	border-color: #dcdfe5;
	border-radius: 5px;
	margin: 10px 0;

}

.form-signup a {

	width: 33px;
	display: inline-block;
	padding: 10px 20px 8px 20px;
	background-color: var(--green);
	font-size: 14px;
	border-radius: 3px;
	color: #fff;
	margin: 10px 0;
	border-color: none;
	box-shadow: 0px 8px 32px 0px rgb(31 222 130 / 46%);

}

.form-signup a:hover {
	background-color: #767d8d;
	transition: .5s;
	box-shadow: none;
}

/*-------------- subscribe --------------- */
.subscribe {
	padding: 66px 0px 72px 0px;
}

.container-subscribe {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.container-subscribe h2 {

	color: var(--txtgray);
	font-size: 28px;
	font-weight: 300;
	line-height: 1.37em;
	letter-spacing: 0.84px;
	display: block;
	margin-bottom: 35px;
	text-align: center;
}

.form-subscribe {

	display: flex;
	justify-content: space-between;

}

.form-subscribe input {
	width: 100%;
	padding: 15px 130px 14px 18px;
	font-size: 14px;
	border-radius: 4px;
	border: none;
	box-shadow: 0px 4px 44px 0px rgb(17 29 48 / 6%);
	color: #afb6c5;
	background-color: #fff;
}

.form-subscribe .btn-subscribe {
	padding: 17px 20px 15px 20px;
	border: none;
	background-color: var(--green);
	color: #fff;
	font-size: 14px;
	border-radius: 4px;
	box-shadow: 0px 8px 32px 0px rgb(31 222 130 / 46%);

}

.form-subscribe .btn-subscribe:hover {
	background-color: #767d8d;
	transition: .5s;
	box-shadow: none;
}

/*-------------- footer --------------- */
.footer {
	padding: 15px;
	font-family: Roboto, Sans-serif;
}

.container-footer .row {
	display: flex;
	align-items: flex-start;
}

.logo-footer {
	margin-bottom: 40px;
}

.logo-footer img {
	vertical-align: middle;

}

address {}

address a {
	color: var(--txtgray);
	font-size: 14px;
	font-weight: 300;
	line-height: 1em;
	letter-spacing: 0.28px;
	padding: 5px 0;
}

address span {
	color: var(--green);
	font-size: 14px;
	font-weight: 500;
}

.footer-services,
.footer-about,
.footer-social {
	display: flex;
	flex-direction: column;
}

.footer-services p,
.footer-about p {
	font-size: 30px;
	color: var(--txtgray);
	margin: 30px 0 30px 0;
}

.footer-social p {
	font-size: 30px;
	color: var(--txtgray);
	margin: 30px 0 5px 0;
}

.footer-services a,
.footer-about a,
.footer-social a {
	font-size: 14px;
	color: var(--gray);
	padding: 13px 0;
}

.footer-services a:hover,
.footer-about a:hover,
.footer-social a:hover {
	color: var(--green);
	transition: .3s;

}

.footer-social span {
	color: var(--gray);
	font-size: 14px;
	font-weight: 300;
	line-height: 1.8em;
	letter-spacing: 0.28px;
	margin-bottom: 14px;

}

.footer-icon a {
	width: 1em;
	height: 1em;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
	padding: 0.7em;
	border-style: solid;
	border-width: 1px;
	border-color: #d2d6de;
	border-radius: 50%;
	margin-right: 8px;
}

.footer-icon a:hover {
	background-color: var(--green);
	color: #fff;
	transition: .5s;
	border: .5px solid var(--green);
}

.footer-icon i {
	width: 1em;
	height: 1em;
	text-align: center;
	color: #c0c7d2;
	font-size: 15px;
}

.footer-icon a:hover i {
	color: #fff;
}


/*-------------- copyright --------------- */
.container-copyright {
	color: var(--gray);
	font-size: 12px;
	font-family: Roboto, Sans-serif;
	padding: 7px 0;
}

.container-copyright .row {
	display: flex;

	padding: 30px 0;
	margin: auto;

}

.container-copyright .row p {
	text-align: center;
	padding: 15px 0;
}

.container-copyright span {
	color: var(--green);
}

.txt-privacy {
	display: flex;
	justify-content: center;
	text-align: center;

}

.txt-privacy a {
	color: var(--gray);
	margin: 0 10px;
}

.txt-privacy a:hover {
	color: var(--green);
	transition: .3s;

}

.to-up a {
	display: inline;
	font-size: 20px;
	color: var(--green);
	position: fixed;
	right: 20px;
	bottom: 15px;
	z-index: 999;
}

.to-up a:hover i {
	color: #767d8d;
	transition: .3s;
	box-shadow: none;
}

@media screen and (min-width:768px) {
	header {
		width: 100%;
		box-shadow: 0px 8px 32px 0px rgb(93 102 120 / 6%);
		padding: 8px 0px 8px 0px;
		background-color: #fff;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
	}

	.container {
		max-width: 1200px;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		padding-left: -15px;
		padding-right: -15px;
	}

	.HB {
		display: none;
	}

	.container-nav {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.container-nav .logo {
		display: flex;
		flex-direction: row;
		align-items: center;

	}

	.container-nav .navbar {
		height: 80px;
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		right: 0;
		top: 0;

	}

	nav a {
		font-family: Roboto, Sans-serif;
		font-size: 16px;
	}

	.logo a {
		padding: 10px;
	}

	.navbar a {
		color: #5d6678;
	}

	.btn-nav {
		color: #5d6678;
	}


	.navbar a {
		padding: 8px;
	}

	.navbar .btn-subscribe {
		position: relative;
		padding: 12px 19.5px 10px 19.5px;
		border: .5px solid #dcdfe5;
		font-size: 14px;
		border-radius: 3px;
		margin-left: 30px;
		opacity: 1;
	}

	.navbar .btn-subscribe:hover {
		background-color: var(--green);
		color: #fff;
		transition: .3s;
		border: .5px solid var(--green);
	}

	#x {
		opacity: 0;
	}



	/*-------------- kv--------------- */
	.kv {
		margin-top: 96px;
	}

	.container-kv {
		/* padding: 30px 0; */

	}


	.text-kv h2 {
		font-size: 42px;
		width: 80%;
	}

	.text-kv p {
		width: 80%;
		font-size: 14px;
		margin-bottom: 8px;
		margin: 0 0 1em;
		line-height: 1.5em;
		color: var(--gray);
	}

	.btn-kv {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0px 202px 0px 0px;
	}

	.btn-learnmore {

		padding: 12px 19.5px 10px 19.5px;

		font-size: 14px;

	}

	.btn-play {
		padding: 12px 19.5px 10px 19.5px;
		background-color: #fff;
		border: none;
	}

	.btn-play img {

		transform: scale(100%) translateX(25%);
	}


	.container-kv:nth-child(2n) .row {
		flex-direction: row-reverse;
	}

	.container-kv:nth-child(2n) .row h2 {
		font-size: 42px;
		line-height: 1.31em;
	}

	.container-kv:nth-child(2n) .row img {
		width: 80%;
	}

	/*-------------- contactus --------------- */
	.container-contactus .text-contactus h2 {
		width: 75%;
		font-size: 42px;
	}

	.btn-contactandsub {
		display: flex;
		justify-content: flex-start;
	}

	.btn-contact {
		margin-right: 20px;
	}

	/*-------------- whychoose --------------- */
	.container-whychoose .bluebox {
		/* word-break: break-all; */
		margin: 15px;
		padding: 39px 34px;
		border-radius: 10px;
		flex-shrink: 1;
		text-align: left;
	}

	.container-whychoose .text-whychoose h2 {
		font-size: 28px;
		font-weight: 300;
		line-height: 1.315em;
		font-size: 42px;
		letter-spacing: 0.84px;
	}


	/*-------------- iconbox --------------- */
	.container-iconbox {
		padding-bottom: 100px;
	}
	.container-iconbox h2{
		font-size: 42px;
	}
	.iconbox{
		padding: 48px 40px 42px 42px;
	}

	.iconbox .pic {
		margin-bottom: 30px;
	}
	.iconbox h3 {
		font-size: 20px;
	}
	.iconbox p {
		margin: 0 0 12px;
	}

	/*-------------- teamwork --------------- */
	.container-teamwork h2{
		font-size: 42px;
	}
	.pic-teamwork {
		text-align: end;
		position: relative;
	}

	.num {
		
		text-align: end;
	}
	.num img{
		width: 82px;
	}
	#arr1,
	#arr2,
	#arr3,
	#arr4 {
		display: none;
	}



	.teamwork .container-teamwork:nth-child(even) {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	.teamwork .container .num {
		order: 0;
	}

	.teamwork .container:nth-child(even) .pic-teamwork {
		order: 1;


	}

	.teamwork .container-teamwork:nth-child(even) h3 {
		width: 80%;
		font-size: 22px;
	}

	.teamwork .container-teamwork p {
		font-size: 16px;
	}

	.two .num img {
		margin-left: 120px;
	}

	.four .num img {
		/* background-color: #fa0; */
		margin-right: 100px;
	}

	/*-------------- project --------------- */
	.project {
		padding: 67px 0px 94px 0px;
	}

	.pic-project img {
		width: 100%;
		height: 100%;
		border-radius: 10px;
	}

	.text-project {
		width: 100%;
		height: 100%;


	}

	.text-project h3 {
		font-size: 40px;
		/* margin-bottom: 210px; */
		/* color: #fff; */
	}

	.col-btn-allproject {
		text-align: end;
	}

	.container-project h2 {
		width: 80%;
		font-size: 42px;

	}

	/*-------------- form --------------- */
	.form {
		padding: 90px 0px 90px 0px;
	}

	.form-signup {
		margin: 25px 50px 44px 0px;
		padding: 39px 51px 38px 51px;

	}

	.form-signup h2 {
		font-size: 42px;
	}

	.form-signup input {

		padding: 11px 14px 10px 14px;
		margin: 0px 0px 18px 0px;
	}

	textarea {
		padding: 11px 0px 10px 14px;
		padding-left: 10px;

	}

	/*-------------- subscribe --------------- */
	.container-subscribe h2 {
		width: 50%;
		font-size: 42px;
	}

	/*-------------- footer --------------- */
	.footer {
		padding: 43px 0px 25px 0px;
	}

	.logo-footer {
		margin-bottom: 30px;
	}

	.footer-services p,
	.footer-about p,
	.footer-social p {
		font-size: 22px;
		margin: 15px 0 30px 0;
	}

	/*-------------- copyright --------------- */



	.footer-social span {
		margin-bottom: 14px;
	}


}

@media screen and (min-width:1024px) {
	#arr1 {
		position: absolute;
		top: 195px;
		right: -105px;
		display: block;
	}

	#arr2 {
		position: absolute;
		top: 190px;
		left: -545px;
		display: block;
	}

	#arr3 {
		position: absolute;
		top: 170px;
		right: -165px;
		display: block;
	}

	#arr4 {
		position: absolute;
		top: 200px;
		left: -540px;
		display: block;
	}
	/*-------------- iconbox --------------- */
	.container-iconbox {
		padding-bottom: 100px;
	}

	.iconbox .pic {
		width: 92px;
		display: inline-block;
		border-radius: 50%;
		box-shadow: 0px 8px 32px 0px rgb(31 222 130 / 46%);
		margin-bottom: 30px;
	}
	.iconbox h3 {
		font-size: 22px;
	}
	.iconbox p{
		font-size: 14px;
		margin: 0 0 40px;
	}
	/*-------------- whychoose --------------- */
	.container-whychoose span {
		font-size: 34px;
	}

	.container-whychoose .text-whychoose h2 {
		width: 70%;
		font-size: 42px;
		font-weight: 300;
		line-height: 1.315em;
		font-size: 42px;
		letter-spacing: 0.84px;
	}

	.container-copyright .row {
		display: flex;
		justify-content: space-between;
	}

	.txt-privacy {
		text-align: end;
		display: flex;
		align-items: center;
	}

	.txt-privacy a {
		margin-left: 45px;

	}
}

@media screen and (min-width: 1200px) {

	/*-------------- kv--------------- */
	.text-kv h2 {
		font-size: 58px;
	}

	.container-whychoose span {
		font-size: 58px;
	}
	.container-teamwork {
		max-width: 1200px;
	}
}