h1{
    display: none;
}
main{
    width: 960px;
    margin: auto
}
main .item{
    padding: 200px 0;
    height: 80vh;
}
.item .pic{
    width: 695px;
    height: 430px;
    position: relative;
    z-index: 0;
    margin-left: 160px;
}
.item .pic img{
    width: 100%;
    height: 100%;
    display: block;
}
.item .function{
    width: 320px;
    height: auto;
    top: 0;
    position: absolute;
    z-index: 1;
}
.item .function .title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 3rem;
    background-color: #b00;
    box-sizing: border-box;
    align-items: center;
    position: inherit;
    transform: translate(0, -100%);
    color: #fff;
}
.item .function .title span{
    transform: rotate(90deg);
    font-size: 7rem;
}
.item .function .text{
    width: 100%;
    background-color: #000;
    color: #fff;
    height: auto;
    font-size: 18px;
    padding: 20px;
    box-sizing: border-box;
    line-height: 2;
}
.item:nth-child(odd) .function{
    left: -160px;
}
.item:nth-child(even) .function{
    right: -160px;
}
.item:nth-child(odd) .function .title{
    flex-direction: row-reverse;
    padding-right: 10px;
}
.item:nth-child(even) .function .title{
    padding-left: 10px;
}
.item .project{
    position: relative;
    background-color: #eee;
    padding: 20px;
    font-size: 16px;
    top: -7%;
}
.item .project .title {
    color: #E7221B;
    font-weight: 900;
    display: flex;
    align-items: center;;
    /* margin-bottom: 10px; */
}
.item .project .title::after{
    content: '';
    background-color: #aa291e;
    height: 1.5px;
    display: block;
    flex-grow: 1;
}
.item:nth-child(odd) .project{
    left: -160px;
} 
.item:nth-child(even) .project{
    right: -160px;
}
.item .project .content-item h4{
    background-color: #000;
    color: #fff;
    padding: 7px;
    margin: 10px 0;
    display: inline-block;
    border-radius: 5px;
}
.item .project .content-item p{
    line-height: 1.2;
    padding-left: 1.2em;
    text-indent: -1em;
}
.item .project .content-item p::before{
    content: "▪";
    color: #bb0404;
    font-weight: 900;
}
.item .square{
    width: 439px;
    height: 290px;
    background-color: #eee;
    position: absolute;
    z-index: -1;
    top: -100px;
}
.item:nth-child(odd) .square{
    right: -105px;
}
.item:nth-child(even) .square{
    left: 248px;
}
.item .icon{
    position: absolute;
    background-color: #b00;
    width: 60px;
    height: 40px;
    border-radius: 15%;
    top: calc(50% - 20px);
}
.item .icon .triangle{
    clip-path: polygon(28.34936% 25%, 28.34936% 75%, 78.34936% 50%);
    width: 40px;
    height: 100%;
    background-color: #fff;
    margin: auto;
}
.item:nth-child(odd) .icon {
    right: -10px;
} 
.item:nth-child(even) .icon{
    left: -10px;
}